{% load static %}
{#<header>#}
{#    <div class="container scroll">#}
{#        <nav>#}
{#            <div class="menu-icons">#}
{#                <i class="icon ion-md-menu"></i>#}
{#                <i class="icon ion-md-close"></i>#}
{#            </div>#}
{#            <div class="logo">#}
{#                <img src="img/devjane.png" alt="">#}
{#            </div>#}
{##}
{#            <!-- <div class="brand">#}
{#                <a href="#hero"><h1><span>Dancers</span>UK <span></span>     </h1></a>#}
{#              </div> -->#}
{#            <ul class="nav-list">#}
{#                <li>#}
{#                    <a href="{% url 'pages:home' %}">Home</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="{% url 'courses:courses' %}">Classes</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">Jobs#}
{#                        <i class="icon ion-md-arrow-dropdown"></i>#}
{#                    </a>#}
{#                    <ul class="sub-menu">#}
{#                        <li><a href="{% url 'jobs:jobs' %}">Jobs</a></li>#}
{#                        <li><a href="{% url 'jobs:postings' %}">Specific Date Jobs</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li>#}
{##}
{#                <li>#}
{#                    <a href="{% url 'pages:talent' %}">Talent</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="{% url 'venues:venues' %}">Venues</a>#}
{#                </li>#}
{#                {% if user.is_authenticated %}#}
{#                    <li><button class="btn-account">{{ user.first_name | title }}</button>#}
{##}
{#                    <ul class="sub-menu2">#}
{#                      <li><a href="{% url 'mail:inbox' %}">Messages</a></li>#}
{#                      <li><a href="{% url 'jobs:create-listing' %}">Add Job</a></li>#}
{#                      <li><a href="{% url 'jobs:create-posting' %}">Add Specific Date Job</a></li>#}
{#                      <li><a href="{% url 'courses:create-course' %}">Add Class</a></li>#}
{#                      <li><a href="{% url 'venues:add-venue' %}">Add Venue</a></li>#}
{#                      <li><a href="{% url 'blog:create-blog' %}">Create Blog</a></li>#}
{#                      <li><a href="{% url 'users:profile' user.pk  %}">Profile | Update</a></li>#}
{#                      <li class="line" ><a href="{% url 'users:logout' %}">Logout</a></li>#}
{##}
{#                  </ul>#}
{#                    </li>#}
{#                {% else %}#}
{#                    <li><a href="{% url 'users:login' %}" class="btn-primary">Login</a></li>#}
{#                    <li><button class="btn-primary btn-info">Register</button>#}
{#                {% endif %}#}
{#            </ul>#}
{#        </nav>#}
{#    </div>#}
{#</header>#}





<header>
    <div class="container scroll">
        <nav>
            <div class="menu-icons">
                <i class="icon ion-md-menu"></i>
                <i class="icon ion-md-close"></i>
            </div>
            <div class="logo">
                <img src="img/devjane.png" alt="">
            </div>

            <!-- <div class="brand">
                <a href="#hero"><h1><span>Dancers</span>UK <span></span>     </h1></a>
              </div> -->
            <ul class="nav-list">
                <li>
                    <a href="{% url 'pages:home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'courses:courses' %}">Classes</a>
                </li>
                <li>
                    <a href="{% url 'pages:talent' %}">Talent</a>
                </li>
                <li>
                    <a href="#">Jobs
                        <i class="icon ion-md-arrow-dropdown"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'jobs:jobs' %}">Jobs</a></li>
                        <li><a href="{% url 'jobs:postings' %}">Dated Jobs</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'venues:venues' %}">Venues</a>
                </li>

            {% if request.user.is_authenticated %}
                <li><button class="btn btn__account">
                    {% if not user.first_name %}
                        {{ user.email }}
                    {% else %}
                        {{ user.first_name | title }}
                    {% endif %}
                </button>
                    <ul class="sub-menu2">
                        <li><a href="{% url 'mail:inbox' %}">Messages</a></li>
                        <li><a href="{% url 'jobs:create-listing' %}">Add Job</a></li>
                        <li><a href="{% url 'jobs:create-posting' %}">Add Dated Job</a></li>
                        <li><a href="{% url 'courses:create-course' %}">Add Class</a></li>
                        <li><a href="{% url 'venues:add-venue' %}">Add Venue</a></li>
                        <li><a href="{% url 'blog:create-blog' %}">Create Blog</a></li>
                        <li><a href="{% url 'users:profile' user.pk  %}">Profile</a></li>
                            <li><hr></li>

                        <li><a href="{% url 'users:logout' %}">Logout</a></li>


                    </ul>
                </li>
            {% else %}


                
                <li><button class="btn btn__login"><a href="{% url 'users:register' %}">Register</a></button>

                    </li>
                <li><button class="btn btn__login"><a href="{% url 'users:login' %}">Login</a></button></li>
            {% endif %}





                <!-- <li><button class="btn-primary">Login</button></li>
                <li><button class="btn-primary btn-info">Register</button> -->
            </ul>
        </nav>
    </div>
</header>
