{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}
    {{ candidate.pk }}
    {{ request.user }}
    {{ object.email }}
    poop
    {{ object.dancers_profile.id }}

    {% if messages %}
        {% for message in messages %}
            <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}






    <div class="hero-wrap js-fullheight" style="background-image: url( {% static 'images/ballet_bg_4.jpg' %});"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start"
                 data-scrollax-parent="true">
                <div class="col-md-8 ftco-animate text-center text-md-left mb-5"
                     data-scrollax=" properties: { translateY: '70%' }">
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                            class="mr-3"><a href="{% url 'pages:home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span>
                        <span>Profile</span></p>
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                        User Profile</h1>
                </div>
            </div>
        </div>
    </div>






    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ftco-animate">



                    <div class="card mb-3 bg-light border-0" style="max-width: 750px;">
                        <div class="row no-gutters">
                            <div class="col-md-4 p-4">
                                <img src="{{ profile.profile_image.url }}" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body bg-light">
                                    <h4 class="card-title">{{ profile.user.first_name | title }} {{ profile.user.last_name | title }}</h4>
                                    <div class="col-12">{{ profile.get_location_display }}</div>
                                    <p class="card-text"><small class="text-muted">Last
                                        updated {{ profile.created }} mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>







                    {% if profile.dancers_profile %}

                        <div class="about-author d-flex p-4 bg-light mb-3">
                            <div class="bio mr-5">
                                <img src="{{ candidate.dancers_profile.dancers_image.url }}" style="width: 200px; "
                                     alt="Image placeholder" class="img-fluid mb-4">
                                <button type="button" class="btn btn-outline-secondary btn-sm btn-block mt-3"
                                        data-toggle="modal" data-target="#dancersProfileModal">Update Dancer's Profile
                                    <i type="button" style="font-size: 15px;" class="ml-2 text-danger fas fa-pen"
                                       data-toggle="modal" data-target="#locationModal"> </i>
                                </button>
                            </div>
                            <div class="desc">
                                <h3>Dancers Profile</h3>
                                <h5>{{ candidate.first_name | title }} {{ candidate.last_name | title }}</h5>

                                <h5>Bio</h5>
                                <div class="col-12">{{ candidate.dancers_profile.bio }}</div>
                                <h5>Experience</h5>
                                <div class="col-12">{{ candidate.dancers_profile.experience | linebreaks }}</div>
                                <h5>Credits</h5>
                                <div class="col-12">{{ candidate.dancers_profile.credits }}</div>
                                <div class="col-12">{{ candidate.dancers_profile.created }}</div>

                                <p></p>
                            </div>
                        </div>


                        <div class="card mb-3 bg-light border-0" style="max-width: 750px;">
                            <div class="mx-auto">
                                <h5 class="pt-1">Your Dancers Images</h5>
                            </div>
                            <div class="row no-gutters">
                                <div class="container-fluid text-center">
                                    <div class="mt-1 numbers d-flex flex-md-row flex-wrap justify-content-center">

                                        {% for image in images %}
                                            <div class="gallery rect-2 mt-0">
                                                <a href="{{ image.image.url }}" data-lightbox="mygallery" data-title="{{ image.title }}"><img src="{{ image.image.url }}" alt="Pray"
                                                    /></a>


                                            </div>
                                        {% endfor %}

                                    </div>
                                    <div class="tag-widget post-tag-container mb-2">
                                        <button type="button" class="btn btn-outline-info btn-sm py-1 mr-1"
                                                data-toggle="modal" data-target="#addPhotoModal">Add Photo
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm py-1 mr-1"
                                                data-toggle="modal" data-target="#deletePhotoModal">Delete Photo
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}


                    {% if candidate.company_profile %}
                        <div class="about-author d-flex p-4 bg-light">
                            <div class="bio mr-5">
                                <img src="{{ candidate.company_profile.company_image.url }}" style="width: 200px; "
                                     alt="Image placeholder" class="img-fluid mb-4">
                                <button type="button" class="btn btn-outline-secondary btn-sm btn-block mt-3"
                                        data-toggle="modal" data-target="#companyProfileModal">Update Company Profile
                                    <i type="button" style="font-size: 15px;" class="ml-2 text-danger fas fa-pen"
                                       data-toggle="modal" data-target="#locationModal"> </i>
                                </button>
                            </div>
                            <div class="desc">
                                <h3>Company Profile</h3>
                                <h5>{{ candidate.first_name | title }} {{ candidate.last_name | title }}</h5>
                                <div class="col-12"><h5>{{ candidate.company_profile.company_name }}</h5></div>
                                <div class="col-12">{{ candidate.company_profile.company_email | safe }}</div>
                                <div class="col-12">{{ candidate.company_profile.company_mobile }}</div>
                                <div class="col-12">{{ candidate.company_profile.company_bio | safe }}</div>
                                <div class="col-12">{{ candidate.company_profile.created }}</div>

                                <p></p>
                            </div>
                        </div>
                    {% endif %}










                    <div class="row bg-light mt-5">
                        <div class="bg-light mx-auto">
                            <h5 class="p-1">{{ profile.user.first_name | title }}'s Jobs</h5>
                        </div>
                        {% for listing in listings %}
                            <div class="col-md-12 ftco-animate">
                                <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

                                    <div class="mb-4 mb-md-0 mr-5">
                                        <div class="job-post-item-header d-flex align-items-center">
                                            <h2 class="mr-3 text-black h4">{{ listing.title }}</h2>
                                        <div class="badge-wrap">
                                        {% if listing.is_posting == False %}
                                            <span class="bg-warning text-white badge py-2 px-3">Dated</span>
                                        {% endif %}
                                    </div>

                                        </div>
                                        <div class="job-post-item-body d-block d-md-flex">

                                            <div class="mr-3"><span class="icon-money"></span>
                                                <span>£{{ listing.fee }} </span></div>
                                            <div class="mr-3"><span class="icon-my_location"></span>
                                                <span>{{ listing.location | title }}, UK</span></div>
                                            {% if listing.is_posting == False %}
                                            <div class="mr-3"><span class="icon-date_range"></span>
                                        <span>{{ listing.date }} </span></div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="ml-auto d-flex">
                                         {% if listing.is_posting == True %}
                                             <a href="{% url 'jobs:single-listing' listing.slug listing.pk %}"
                                                class="btn btn-primary py-2 mr-1">View</a>
                                         {% else %}
                                             <a href="{% url 'jobs:single-posting' listing.slug listing.pk %}"
                                                class="btn btn-primary py-2 mr-1">View</a>
                                        {% endif %}
                                        <a href="#"
                                           class="btn btn-danger rounded-circle btn-favorite d-flex align-items-center">
                                            <span class="icon-heart"></span>
                                        </a>
                                    </div>

                                </div>
                            </div> <!-- end -->
                        {% endfor %}
                    </div>




                                    <div class="row bg-light mt-5">
                        <div class="bg-light mx-auto">
                            <h3 class="p-1">{{ profile.user.first_name |title }}'s Classes</h3>
                        </div>
                        {% for course in courses %}
                            <div class="col-md-12 ftco-animate">
                                <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

                                    <div class="mb-4 mb-md-0 mr-5">
                                        <div class="job-post-item-header d-flex align-items-center">
                                            <h2 class="mr-3 text-black h4">{{ course.title }}</h2>
                                            <div class="badge-wrap">
                                                            {% if course.age_group == 'toddlers' %}
                                                                <span class="bg-warning text-white badge py-2 px-3">Toddlers</span>
                                                            {% elif course.age_group == 'children' %}
                                                                <span class="bg-primary text-white badge py-2 px-3">Children</span>
                                                            {% elif course.age_group == 'teens' %}
                                                                <span class="bg-secondary text-white badge py-2 px-3">Teen</span>
                                                            {% elif course.age_group == 'adults' %}
                                                                <span class="bg-danger text-white badge py-2 px-3">Adults</span>
                                                            {% endif %}
                                                        </div>
                                        </div>
                                        <div class="job-post-item-body d-block d-md-flex">

                                                        <div class="mr-3"><span
                                                                class="icon-calendar-times-o"></span> {{ course.day }} {{ course.start_time }}
                                                        </div>
                                                        <div class="mr-3"><span class="icon-my_location"></span>
                                                            <span>{{ course.course_level }} Level</span></div>
                                                        <div><span class="icon-my_location"></span>
                                                            <span>{{ course.location | capfirst }}, UK</span></div>
                                                    </div>
                                    </div>

                                    <div class="ml-auto d-flex">
                                        <a href="{% url 'courses:course-detail' course.pk course.slug %}"
                                                       class="btn btn-primary py-2 mr-1">View</a>
                                        <a href="#"
                                           class="btn btn-danger rounded-circle btn-favorite d-flex align-items-center">
                                            <span class="icon-heart"></span>
                                        </a>
                                    </div>

                                </div>
                            </div> <!-- end -->
                        {% endfor %}
                                        <div class="row mt-5">
                                    {% if is_paginated %}
                                        <div class="col text-center">
                                            <div class="block-27">
                                                <ul>
                                                    {% if page_obj.has_previous %}
                                                        <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="disabled"><span>&lt;</span></li>
                                                    {% endif %}
                                                    {% for i in paginator.page_range %}
                                                        {% if page_obj.number == i %}
                                                            <li class="active"><span>{{ i }}</span></li>
                                                        {% else %}
                                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if page_obj.has_next %}
                                                        <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="disabled"><span>&gt;</span></li>
                                                    {% endif %}

                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                    </div>





                   <div class="row bg-light mt-5">
                        <div class="bg-light mx-auto">
                            <h3 class="p-1">{{ profile.user.first_name |title }}'s Venues</h3>
                        </div>
                        {% for venue in venues %}
                            <div class="col-md-12 ftco-animate">
						<div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

						  <div class="mb-4 mb-md-0 mr-5">
						   <div class="job-post-item-header d-flex align-items-center">
						     <h2 class="mr-3 text-black h4">{{ venue.name }}</h2>

						   </div>
						   <div class="job-post-item-body d-block d-md-flex">
						     <div class="mr-3"><span class="icon-money"></span> <span>£{{ venue.cost}}/ph </span></div>
						     <div class="mr-3"><span class="icon-layers"></span> <span>{{ venue.category }} </span></div>
						     <div><span class="icon-my_location"></span> <span>{{ venue.location }}, UK</span></div>
						   </div>
						  </div>

						  <div class="ml-auto d-flex">
						  	<a href="{% url 'venues:venue-detail' venue.pk %}" class="btn btn-primary py-2 mr-1">View</a>
                <a href="#" class="btn btn-danger rounded-circle btn-favorite d-flex align-items-center">
                	<span class="icon-heart"></span>
                </a>
              </div>

						</div>
          </div>
                        {% endfor %}
                    </div>











                </div> <!-- .col-md-8 -->
                <div class="col-md-4 sidebar ftco-animate">



                    <div class="pt-1 sidebar-box ftco-animate">
                        <h3>Recent Blog</h3>
                        {% for blog in blogs %}
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url({{ blog.blog_image.url }});"></a>
                            <div class="text">
                                <h3 class="heading"><a href="{% url 'blog:blog-detail' blog.pk %}">{{ blog.title }}</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> {{ blog.timestamp | naturalday  }}</a></div>
                                    <div><a href="#"><span class="icon-person"></span> {{ blog.author.first_name }}</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>



                    <div class="sidebar-box ftco-animate">
                        <h3>Dance Promotion</h3>
                        <p></p>
                    </div>
                </div>

            </div>
        </div>
    </section> <!-- .section -->

    <!-- Modal Profile-->
    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Update Profile Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ users_form | crispy }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close
                            </button>
                            <button name="cope" type="submit" class="btn btn-sm btn-outline-primary">Save</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>



    <!-- Modal DancersProfile-->
    <div class="modal fade" id="dancersProfileModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Update Dancers Profile Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close
                            </button>
                            <button name="dancerscope" type="submit" class="btn btn-sm btn-outline-primary">Save
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <!-- Modal Add DancerPhoto-->
    <div class="modal fade" id="addPhotoModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ photo_form | crispy }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close
                            </button>
                            <button name="dancerImage" type="submit" class="btn btn-sm btn-outline-primary">Save
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>



    <!-- Modal Delete DancerPhoto-->
    <div class="modal fade" id="deletePhotoModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for image in images %}
                        <div class="row">
                            <div class="col-6 mb-2">
                                <img src="{{ image.image.url }}" style="height: 100px; width: 100px" alt="">
                            </div>
                            <div class="col-6 mb-2">
                                <a href="{% url 'users:delete-dancers-photo' image.pk %}"
                                   class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>




    <!-- Modal CompanyProfile-->
    <div class="modal fade" id="companyProfileModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Update Company Profile Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ company_form | crispy }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close
                            </button>
                            <button name="companycope" type="submit" class="btn btn-sm btn-outline-primary">Save
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

