{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
 {% endif %}


    <!-- Introduction-->
    <section class="intro" id="home">
        <h1 class="section__title section__title--intro">
            Search <strong> Dance Talent </strong>
        </h1>
        <p class="section__subtitle section__subtitle--intro">Over {{ all_talent }} Talent</p>
        <img src="{% static 'images/dance-manchester.jpg' %}" class="intro__img" alt="a picture of jane smiling">

    </section>


      <section class="my-search">

        <div class="box">
            <h2 class="section__title section__title--search">Search Dance Talent</h2>
            <form action="{% url 'pages:search-talent' %}" method="get">
                <div class="form-row">
                    <div class="select-data">
                         <select name="style" id="">
                            <option selected="{{ true }}" disabled="disabled">Choose Style</option>
                            {% for style in styles %}
                                <option value="{{ style.id }}">{{ style.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select-data">
                         <select name="talent_location" id="">
                            <option selected="{{ true }}" disabled="disabled">Choose Location</option>
                            {% for key, value in location_choices %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select-data">
                         <select name="gender" id="">
                            <option value="" selected="true">Choose Gender</option>
                             {% for key, value in gender_choices %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select-data">
                        <select name="age_group" id="">
                            <option selected="true" disabled="disabled">Select Age</option>
                            {% for key, value in age_choices %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="submit-button">
                    <input type="submit" value="search">
                </div>



            </form>
        </div>

    </section>









    <section class="section__container">
    <div class="dancers__profiles">
        <div class="profile-space">
            <h2 class="section__title--dancers underline">Talent</h2>
        </div>


        <div class="dancers-home2 dancers">


            {% for talent in talents %}

            <!--porfolio item 1 -->
            <div class="dancer__holder2">
                <div class="dancer__img-container2">
                    <a href="#" class="dancer__item2">
                        <img src="{{ talent.dancers_image.url }}" alt="" class="portfolio__img2">
                    </a>
                </div>
                <div class="dancer-name tone">
                    <a href="{% url 'pages:talent-detail' talent.pk talent.slug %}">{{ talent.user.first_name }} {{ talent.user.last_name }}</a>
                </div>
            </div>








            {% endfor %}





    </div>

     <div class="pagination">
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="pagination__btn prev "><i class="fas fa-angle-left"></i></a>
                    {% else %}
                        <a  class="pagination__btn prev disabled"><i class="fas fa-angle-left"></i></a>
                    {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <a  class="pagination__btn num active">{{ i }}</a>
                            {% else %}
                                <a href="?page={{ i }}"  class="pagination__btn num">{{ i }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="pagination__btn next "><i class="fas fa-angle-right"></i></a>
                        {% else %}
                            <a class="pagination__btn next disabled"><i class="fas fa-angle-right"></i></a>
                        {% endif %}
                    {% endif %}

            </div>
   </section>






{% endblock %}












