{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    {{ candidate.pk }}
    {{ request.user }}
    {{ object.email }}

    {% if messages %}
        {% for message in messages %}
            <div class="text-center alert alert-{{ message.tags }}">
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}



{{ request.user.first_name }}


    <section class="section__container-about" id="about">


        <div class="about-me">
            <h2 class="section__title section__title--about">{{ talent.user.first_name.title }} {{ talent.user.last_name.title }}</h2>
        <p class="section__subtitle section__subtitle--about">{{ talent.location.title }}</p>

        <div class="about-me__body">
            <p>{{ talent.bio }}</p>
            <p>{{ talent.experience}}</p>
        </div>

            <div class="img-message">
                 <img src="{{ talent.dancers_image.url }}" alt="{{ talent.user.first_name}} dance profile image" class="about-me__img">
            <a href="{% url 'mail:create-talent-communication' talent.pk%}"><button class="btn  btn__message-talent">MESSAGE
                {{ talent.user.first_name }}</button></a>


            </div>





        </div>

    </section>








    <!-- Search -->
    <!-- <section class="my-search">
        <h1 class="section__title section__title--search">What Now ?</h1>

    </section> -->

    <!-- End Search -->







    <section class="section__container section__container-photos section__container-light">
        <div class="talent__images">
            <div class="profile-space">
                <h2 class="section__title--profile section__title--talent underline">Johns Photos</h2>
            </div>


            <div class="portfolio">

                <!--porfolio item 1 -->
                <a href="#" class="portfolio__item">
                    <img src="img/portfolio-01.jpg" alt="" class="portfolio__img">
                </a>

                <!--porfolio item 2-->
                <a href="#" class="portfolio__item">
                    <img src="img/portfolio-02.jpg" alt="" class="portfolio__img">
                </a>

                <!--porfolio item 3-->
                <a href="#" class="portfolio__item">
                    <img src="img/portfolio-03.jpg" alt="" class="portfolio__img">
                </a>

                <!--porfolio item 4-->
                <a href="#" class="portfolio__item">
                    <img src="img/portfolio-04.jpg" alt="" class="portfolio__img">
                </a>

                <!--porfolio item 5-->
                <a href="#" class="portfolio__item">
                    <img src="img/portfolio-05.jpg" alt="" class="portfolio__img">
                </a>

                <!--porfolio item 6-->
                <a href="#" class="portfolio__item">
                    <img src="img/portfolio-06.jpg" alt="" class="portfolio__img">
                </a>

                <!--porfolio item 7-->
                <a href="#" class="portfolio__item">
                    <img src="img/portfolio-07.jpg" alt="" class="portfolio__img">
                </a>

                <!--porfolio item 8-->
                <a href="#" class="portfolio__item">
                    <img src="img/portfolio-08.jpg" alt="" class="portfolio__img">
                </a>

                <!--porfolio item 9-->
                <a href="#" class="portfolio__item">
                    <img src="img/portfolio-09.jpg" alt="" class="portfolio__img">
                </a>
            </div>
        </div>
    </section>





    <section class="section__container">
        <h2 class="heading underline"><span>Dancers Profile</span></h2>
        <div class="inner__grey">
            <div class="left__column left__column-dancersprofile">
                <img src="{{ talent.dancers_image.url }}" class="left__column-img" alt="{{ talent.user.first_name}} dance profile picture">
                <div class="update-btn__holder">
                    <button class="btn btn__update">Contact {{ talent.user.first_name.upper }}</button>

                </div>
            </div>
            <div class="right__column right__column-dancersprofile">
                <p class="heading">{{ talent.user.first_name.title}} {{ talent.user.last_name.title }}</p>
            <table class="attributes">
                <tbody>
                    <tr>
                        <td>{{ talent.location.title }}</td>

                    </tr>
                    <tr>
                        <td>{{ talent.user.profile.calculate_age }} yrs old</td>
                    </tr>
                    <tr>

                        <td>Nothern Ballet School</td>
                    </tr>


                </tbody>

            </table>

            </div>

        </div>
        <div class="inner__white">
            <h2 class="heading underline">Physical Atributes</h2>
            <table class="table--striped" cellspacing="0" style="border-collapse:collapse">
                <tbody>
                    <tr>
                        <td class="striped-table__cell">
                            <div class="striped-table__label">Height:</div>
                            {{ talent.height}} cm
                        </td>
                        <td class="striped-table__cell">
                            <div class="striped-table__label">Weight:</div>
                            {{ talent.weight}} kg
                        </td>
                    </tr>
                    <tr>
                        <td class="striped-table__cell">
                            <div class="striped-table__label">Ethnicity:</div>
                            {{ talent.ethnicity }}
                        </td>
                        <td class="striped-table__cell">
                            <div class="striped-table__label">Chest:</div>
                            {{ talent.bust}}cm
                        </td>
                    </tr>
                    <tr>
                        <td class="striped-table__cell">
                            <div class="striped-table__label">Skin color:</div>
                                {{ talent.skin }}
                        </td>
                        <td class="striped-table__cell">
                            <div class="striped-table__label">Waist:</div>
                            {{ talent.waist }}cm
                        </td>
                    </tr>
                    <tr>
                        <td class="striped-table__cell">
                            <div class="striped-table__label">Hips:</div>
                            {{ talent.hip }} cm
                        </td>
                        <td class="striped-table__cell">
                            <div class="striped-table__label">Dress size:</div>
                            {{ talent.dress }} UK
                        </td>
                    </tr>
                    <tr>
                        <td class="striped-table__cell">
                            <div class="striped-table__label">Eye color:</div>
                            {{ talent.eye }}
                        </td>
                        <td class="striped-table__cell">
                            <div class="striped-table__label">Hair color:</div>
                            {{ talent.hair }}
                        </td>
                    </tr>
                    <tr>
                        <td class="striped-table__cell">
                            <div class="striped-table__label">Hair length:</div>
                            Long
                        </td>
                        <td class="striped-table__cell">
                            <div class="striped-table__label">Hair type:</div>
                            Straight
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
        <div class="inner__white">
            <h2 class="heading underline">Dancers Profile Info</h2>
            <h4>Bio</h4>
            <p>
                {{ talent.bio }}
            </p>
            <h4>Experience</h4>
            <p>
            {{ talent.experience }}
            </p>
            <h4>Credits</h4>
            <p>
            {{ talent.credits }}
            </p>
        </div>

    </section>



















{% endblock %}

