.section-poop{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;

}

.section-poop .container{
    max-width: 130rem;
    padding: 0 1rem;
    margin: 0 0;
}

.section-poop .content{
    display: flex;
    background-color: #fff;
    box-shadow: .5rem .5rem 1rem rgba(0,0,0,0.5);
}




/*.poopie*/
/*{*/
/*	background: #fff;*/
/*	margin: 150px 0;*/

/*}*/

/*.imageBox*/
/*{*/
/*	position: relative;*/
/*	margin: 10px auto;*/
/*	border-radius: 4px;*/
/*	overflow: hidden;*/

/*}*/

/*.and-now*/
/*{*/
/*    width: 200px;*/
/*	height: 200px;*/
/*}*/

/*.imageBox h3*/
/*{*/
/*	position: absolute;*/
/*	margin: 0;*/
/*	padding: 0;*/
/*	top: -24px;*/
/*	transform: translateY(-50%);*/
/*	text-align: center;*/
/*	!*width: 100%;*!*/
/*	font-weight: bold;*/
/*	color: #fff;*/
/*	text-shadow: 0 2px 5px rgba(0,0,0,0.5);*/
/*	transition: .5s;*/
/*}*/

/*.imageBox:hover h3*/
/*{*/
/*	top: 50%;*/
/*	transform: translateY(-50%);*/
/*}*/

/*.imageBox ul*/
/*{*/
/*	position: absolute;*/
/*	margin: 0 auto;*/
/*	padding: 0;*/
/*	text-align: center;*/
/*	width: 100%;*/
/*	display: flex;*/
/*	background: rgba(0,0,0,.2);*/
/*	transform: translateY(50px);*/
/*	transition: .5s;*/

/*}*/

/*.imageBox:hover ul*/
/*{*/
/*	transform: translateY(-60px);*/


/*}*/

/*.imageBox ul li*/
/*{*/
/*	list-style: none;*/
/*	width: 20%;*/
/*	box-sizing: border-box;*/
/*}*/

/*.imageBox ul li a*/
/*{*/
/*	color: #fff;*/
/*	font-size: 20px;*/
/*	margin: 10px;*/
/*	display: inline-block;*/
/*}*/



/*.imageBox ul li:hover:nth-child(1)*/
/*{*/
/*	background: #3b5999;*/

/*}*/

/*.imageBox ul li:hover:nth-child(2)*/
/*{*/
/*	background: #55acee;*/

/*}*/

/*.imageBox ul li:hover:nth-child(3)*/
/*{*/
/*	background: #dd43b9;*/

/*}*/

/*.imageBox ul li:hover:nth-child(4)*/
/*{*/
/*	background: #0077b9;*/

/*}*/










/*.card {*/
/*  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
/*  transition: 0.3s;*/
/*  width: 170px;*/
/*	padding: 2px;*/
/*	margin-right: 5px;*/

/*}*/

/*.card:hover {*/
/*  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
/*}*/

/*.my-container {*/
/*  padding: 5px 50px;*/
/*	margin-right: 5px;*/
/*}*/



.cards-poop {
    margin: 20px auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 0.8fr));
    grid-auto-rows: auto;
    gap: 15px;
    font-family: sans-serif;
    padding-top: 20px;
    /*margin-bottom: 10px;*/
}

.cards-poop * {
	border-color: white;
}

.card__image {
    width: 100%;
    height: 170px;
    object-fit: cover;
    display: block;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}

.card__content {
    line-height: 1.5;
    font-size: 0.8em;
    padding: 5px;
    background: #ffffff;
	text-align: center;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}

.card__content > p:first-of-type {
    margin-top: 0;
	color: #b3b3b3;
	text-transform: uppercase;
    padding-top: 0px;
}

.card__content > p:last-of-type {
    margin-bottom: 0;
}

.card__info {
    padding-top: 5px;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
	text-align: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}

.card__info i {
    font-size: 0.9em;
    margin-right: 8px;

}

.card__link {
    color: #64968c;
    text-decoration: none;

}

.card__link:hover {
    text-decoration: underline;
}


.rect-2 {
  position: relative;
  z-index: 1;
  background: white;
  width:7rem;
  height: 7rem;
  padding: 5px;
  margin: 1rem;
  border-radius: 0.5em;
  box-shadow: 1px 2px 30px 0px rgba(0, 128, 128, 0.349);
  /*box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);*/

}

.gallery{
    margin: 7px 7px;
}

.gallery img {
    transition: 1s;
    padding: 2px;
    width: 100px;
    height: 100px;

}

.gallery img:hover {
    filter: grayscale(70%);
    transform: scale(1.1);
}


.dance-image{

}


.dance-image img{

     transition: 1s;
    padding: 2px;
    margin-bottom: 5px;
    width: 150px;
    height: 150px;

}

.dance-image img:hover {
    filter: grayscale(70%);
    transform: scale(1.1);
}


.btn-sadie-outline {
  background-color: transparent;
    color: white;

}



@media screen and (min-width: 768px) {
  .job-split {
     border-left: solid;
        border-left-width: 1px;
        border-left-color: darkseagreen;
  }
}


@media screen and (min-width: 768px) {
  .posting-split {
     border-left: solid;
        border-left-width: 1px;
        border-left-color: steelblue;
  }
}


.amenitiesheading{
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: darkseagreen;
}

