{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}







     <section class="section__container-venue" id="about">


        <div class="about-venue">
            <h2 class="section__title section__title--venue">{{ venue.name | title }}</h2>
        <p class="section__subtitle section__subtitle--venue">{{ venue.location | title }}</p>

        <div class="about-me__venue">
            <p>{{ venue.about_venue | title  }}</p>
            </div>


        <img src="{{ venue.venue_image.url }}" alt="jane leaning on  a bus" class="about-venue__img">
           {% if request.user == venue.author %}

            <a href="{% url 'venues:update-venue' venue.pk %}"><button class="btn  btn__message-talent">UPDATE
                </button></a>

        {% else %}
            <a href="{% url 'mail:create-communication-venue' venue.pk  %}"><button class="btn  btn__message-venue">MESSAGE
                </button></a>
        {% endif %}




        </div>

    </section>








    <!-- Search -->
    <!-- <section class="my-search">
        <h1 class="section__title section__title--search">What Now ?</h1>

    </section> -->

    <!-- End Search -->







    <section class="section__container section__container-photos section__container-light">
        <div class="venue__images">
            <div class="profile-space">
                <h2 class="section__title--profile section__title--venue underline">{{ venue.name | title}}'s Photos</h2>
            </div>


            <div class="portfolio">

                <!--porfolio item 1 -->
            {% if venue.venue_image_1 %}
                <a href="#" class="portfolio__item">
                    <img src="{{ venue.venue_image_1.url }}" alt="" class="portfolio__img">
                </a>
            {% endif %}

                <!--porfolio item 2-->
                {% if venue.venue_image_2 %}
                <a href="#" class="portfolio__item">
                    <img src="{{ venue.venue_image_2.url }}" alt="" class="portfolio__img">
                </a>
                {% endif %}


            </div>
        </div>
    </section>





    <section class="section__container">
    <div class="heading__holder">
        <h2 class="heading underline"><span>Venue info</span></h2>
        <p class="venue-rating "><span>Rating : 7/10</span></p>
    </div>

        <div class="inner__grey">
            <div class="left__column left__column-venue">
                <img src="{{ venue.venue_image.url }}" class="left__column-img"  alt="a picture of jane smiling">
                <div class="update-btn__holder">
                    <button class="btn btn__update">Contact Venue</button>


                </div>
            </div>
            <div class="right__column right__column-venue">
                <p class="heading">{{ venue.name | title}}</p>
            <table class="attributes">
                <tbody>
                    <tr>
                        <td>{{ venue.address | title }}</td>

                    </tr>
                    <tr>
                        <td>{{ venue.location | title }}</td>

                    </tr>
                    <tr>
                        <td>{{ venue.postcode | title}}</td>
                    </tr>
                    <tr>

                        <td>£{{ venue.cost}} ph</td>
                    </tr>
                    <tr>

                        <td>{{venue.contact | title}}</td>
                    </tr>
                    <tr>
                        <td>{{ venue.contact_mobile }}</td>
                    </tr>
                    <tr>
                        <td>{{ venue.contact_email }}</td>
                    </tr>

                    <tr>

                        <td class="updated">last updated : {{ venue.updated | naturaltime }}</td>
                    </tr>


                </tbody>

            </table>

            </div>

        </div>
        <div class="inner__white">
            <h2 class="heading underline">Venue Info</h2>
            <table class="table--striped" cellspacing="0" style="border-collapse:collapse">
                <tbody>
                    <tr>
                        <td class="striped-table__cell">
                            <div class="striped-table__label">Size sqft:</div>
                            1000 sqft
                        </td>
                        <td class="striped-table__cell">
                            <div class="striped-table__label">Flooring</div>
                            {{ venue.floor_type }}
                        </td>
                    </tr>
                    <tr>
                        <td class="striped-table__cell">
                            <div class="striped-table__label">Mirrors:</div>
                            {{ venue.mirrors_results }}
                        </td>
                        <td class="striped-table__cell">
                            <div class="striped-table__label">Music System:</div>
                            {{ venue.musicsystem_results}}
                        </td>
                    </tr>


                </tbody>
            </table>


        </div>
        <div class="inner__white">
            <h2 class="heading underline">Venue Info</h2>
            <h4>Bio</h4>
            {{ venue.about_venue }}

        </div>

    </section>



{%  endblock %}