{% extends 'base.html' %}
{% load static %}
{% block content %}


     <section class="section__container">
        <h2 class="heading  underline"><span>Delete Job</span></h2>

        <div class="inner__white-delete">
            <h2 class="heading heading__warning-danger ">Are you sure you would like to delete this Jobs ? </h2>
            <p>{{ object.title }}</p>


             <form action="" method="POST">
                  {% csrf_token %}
                  <a href="{% url 'jobs:single-listing' listing.slug listing.pk %}" class="btn btn-primary py-2 mr-1">No</a>
                  <button type="submit" class="btn btn-danger">Yes</button>
              </form>
        </div>

    </section>


{% endblock %}