{% extends 'base.html' %}
{% load static %}

{% block content %}





    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
 {% endif %}







     <!-- Introduction-->
    <section class="intro" id="home">
        <h1 class="section__title section__title--intro">
            Search <strong> Dance Job </strong>
        </h1>
        <p class="section__subtitle section__subtitle--intro">Over {{ listing_count }} Classes</p>
        <img src="{% static 'images/dance-manchester.jpg' %}" class="intro__img" alt="a picture of jane smiling">

    </section>




     <!-- Search -->
     <section class="my-search">

        <div class="box">
            <h2 class="section__title section__title--search">Search Dance Jobs</h2>
            <form action="{% url 'jobs:search-listings' %}" method="get">
                <div class="form-row">
                    <div class="select-data">
                        <select name="" id="">
                            <option value="">Option One</option>
                            <option value="">Option Two</option>
                            <option value="">Option Three</option>
                            <option value="">Option Four</option>
                        </select>
                    </div>
                    <div class="select-data">
                        <select name="" id="">
                            <option value="">Option One</option>
                            <option value="">Option Two</option>
                            <option value="">Option Three</option>
                            <option value="">Option Four</option>
                        </select>
                    </div>
                    <div class="select-data">
                        <select name="job_type" id="">
                            <option selected="{{ true }}" disabled="disabled">Choose Category</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select-data">
                        <select name="job_location" id="">
                            <option selected="{{ true }}" disabled="disabled">Choose Location</option>
                            {% for key, value in location_choices %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="submit-button">
                    <input type="submit" value="search">
                </div>



            </form>
        </div>

    </section>




    <!-- End Search -->





    <section class="section__container">
        <h1 class="section__title section__title--courses">Dance <span>Jobs</span> </h1>
        <div class="list__items">
            <!-- item1 -->
            {%  for listing in listings %}
                <div class="item">
                <div class="item__left">
                    <div class="item__heading">
                        <h3 class="heading heading__item">{{ listing.title | title }}</h3>
                        <div class="item__heading-btn">
                           <button class="btn__display">£{{ listing.fee }}</button>
                        </div>
                    </div>
                    <div class="item__info">
{#                        <div class="item__col"><i class="fas fa-user"></i>{{ listing.author.first_name | title }}</div>#}
                        <div class="item__col"><i class="fas fa-money-bill"></i>£{{ listing.fee }}</div>
                        <div class="item__col"><i class="fas fa-layer-group"></i>{{ listing.category | title }}</div>
                        <div class="item__col"><i class="fas fa-thumbtack"></i>{{ listing.location | title }}</div>
                    </div>


                </div>
                <div class="item__right">

                    <a class="btn btn__view" href="{% url 'jobs:single-listing' listing.slug listing.id %}">View</a>


                </div>

            </div>

            {% endfor %}



            <div class="pagination">
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="pagination__btn prev "><i class="fas fa-angle-left"></i></a>
                    {% else %}
                        <a  class="pagination__btn prev disabled"><i class="fas fa-angle-left"></i></a>
                    {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <a  class="pagination__btn num active">{{ i }}</a>
                            {% else %}
                                <a href="?page={{ i }}"  class="pagination__btn num">{{ i }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="pagination__btn next "><i class="fas fa-angle-right"></i></a>
                        {% else %}
                            <a class="pagination__btn next disabled"><i class="fas fa-angle-right"></i></a>
                        {% endif %}
                    {% endif %}

            </div>






{#        <div class="pagination">#}
{#                <a href="#" class="prev"><i class="fas fa-angle-left"></i></a>#}
{#                <a href="#" class="num active">1</a>#}
{#                <a href="#" class="num">2</a>#}
{#                <a href="#" class="num">3</a>#}
{#                <a href="#" class="num">4</a>#}
{#                <a href="#" class="next"><i class="fas fa-angle-right"></i></a>#}
{#            </div>#}







        </div>

    </section>




    <!--end courses-->








    <section class="section__container">
        <h2 class="heading underline">Dance Job Categories</h2>

        <div class="categories">




            <ul class="category__items category__items-courses">
                {% for category in categories %}
                    {% if category.categories_count_listings > 0 %}
                        <li class="category__shell"><a href="{% url 'jobs:category-listings' category.slug category.pk %}" class="category__item">{{ category.title |title }} <span> ({{ category.categories_count_listings }})</span> </a></li>
                    {% endif %}
                {% endfor %}

            </ul>

       </div>





    </section>




{% endblock %}