{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}






    <!-- Introduction-->
    <section class="course-intro" id="coursehome">
        <h1 class="section__title section__title--course">
            Dance Jobs <span class="alt-strong"> {{ listing.title | title | truncatechars:50}}</span>
        </h1>
        <p class="section__subtitle section__subtitle--course-intro">Dance Job</p>
        <img src="{{ listing.listing_image.url }}" class="course-intro__img" alt="a picture of jane smiling">
        {% if request.user != listing.author %}
            <button class="btn btn__message-profile">Apply Now</button>
        {% endif %}

    {% if request.user == listing.author %}

            <a href="{% url 'jobs:update-listing' listing.slug listing.pk %}"><button class="btn  btn__message-talent">UPDATE
                </button></a>

        {% else %}
            <a href="{% url 'mail:create-communication-job' listing.pk  %}"><button class="btn  btn__message-talent">MESSAGE
                </button></a>
        {% endif %}


    </section>




    <section class="section__container-job">
        <div class="job__heading">
            <div class="job-categories">
                <button class="btn__display btn__display-accent">£{{ listing.fee }}</button>
            </div>
            <h1>{{ listing.title | title }}</h1>
            <p>{{ listing.publish_date | naturaltime }}</p>
        </div>
        <div class="job__detail">
            <div class="job__detail-container">
                <div class="job__detail-left">

                    Category: {{ listing.category | title }}  <br>
                </div>
                <div class="job__detail-right">
                    Location : {{ listing.location }} <br>
                    Fee: £{{ listing.fee }}
                </div>

            </div>

        </div>
        <div class="job__cta">
            {%  if request.user == listing.author %}
                <a href="{% url 'jobs:update-listing'  listing.slug listing.pk %}" class="btn__apply btn__apply-update">Update</a>
                <a href="{% url 'jobs:delete-listing' listing.slug listing.pk %}" class="btn__apply btn__apply-delete">Delete</a>
            {% else %}
                <a href="" class="btn__apply">Apply Now</a>
                <a href="" class="btn__apply">save to watch list</a>
            {% endif %}



        </div>
        <div class="job__body">
            <p>
                {{ listing.description | linebreaks }}
            </p>
        </div>
        <div class="job__body-pay">
            <h4>Job Payment</h4>
            <h4>£{{ listing.fee }}</h4>
            <p>Posted {{ listing.publish_date | naturaltime }}</p>

        </div>


    </section>




{% endblock %}
