{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}




     <!-- Introduction-->
    <section class="course-intro" id="coursehome">
        <h1 class="section__title section__title--course">
            {{ course.course_level }} <span class="alt-strong"> {{ course.title |title}}</span>
        </h1>
        <p class="section__subtitle section__subtitle--course-intro">{{ course.dance_style }}</p>
        <img src="{{ course.dance_class_image.url }}" class="course-intro__img" alt="a picture of jane smiling">
        {% if request.user == course.author %}
            <button class="btn btn__message-profile"><a href="{% url 'courses:update-course' course.pk  course.slug%}">Update</a>  </button>
        {% else %}
            <a href="{% url 'mail:create-course-communication'  course.author_id course.pk %}"><button class="btn  btn__message-talent">MESSAGE
                {{ talent.user.first_name }}</button></a>
        {% endif %}



    </section>




    <section class="section__container section__container-white">
        <div class="inner__grey inner__grey-course">
            <div class="left__column">
                <h2 class="section__title section__title--course" >{{ course.title | title }}</h2>
                <span><hr></span>
                <div class="course-rating">
                    <div><p>Class Rating :  <span>{{ ratings.count }} sort/10</span> </p></div> <br>
                </div>
                <div class="course-day">{{ course.day }} {{ course.start_time }}-{{ course.end_time}}</div>
                <div class="course-address">
                    <br>
                    <p><span>Address : </span><br>
                        {{ course.address |title}}<br>
                        {{ course.location | title }} <br>
                        {{ course.postcode | upper}}
                    </p><br>
                    <p>
                        <span>Level :</span> {{ course.course_level | title }}
                    </p>
                    <p>
                        <span>Age :</span> {{ course.age_group | title}}
                    </p>
                    <p>
                        <span>Drop in or Course :</span> {{ course.drop_in}}
                    </p>
                    <p><span>Cost :</span>  £{{ course.price }}</p>
                    <p class="updated">Last Updated {{ course.updated | naturaltime}}</p>
                </div>
            </div>
            <div class="right__column">
                <h2 class="section__title section__title--course" >More Info</h2>
                <span><hr></span>
                <p class="heading">About the class :</p>
                <p>
                    {{ course.about_dance_class | linebreaks }}
                </p>
                <p class="heading">
                    Experience :
                </p>
                <p>
                    {{ course.experience }}
                </p>

                <p class="heading">
                    Faq's :
                </p>
                <p>
                    {{ course.faq | linebreaks }}
                </p>
            </div>

        </div>
    </section>


    <!-- Course detail-->




<section class="section__container">
<div class="review-heading">
        <h2 class="heading underline">Your Reviews</h2>
        <div class="btn__holder">
            {% if request.user.is_authenticated and request.user != course.author %}
                {% if request.user not in commenters %}
                    <a href="{% url 'courses:create-review' course.pk %}" class="btn btn__review-create">Create Review</a>
            {% else %}
            You have allready written a review
            {% endif %}
        {% endif %}
        </div>

    </div>
            <div class="review__items">
                {% for review in ratings %}
                     <div class="review__item">
                    <div class="review__item-holder">
                        <div class="review__col-left">
                            <div class="review__person">{{ review.user.first_name }}</div>
                            <div class="review__rating">{{ review.rating }}/10</div>
                        </div>
                        <div class="review__col-right">
                            {{ review.comment }}
                        </div>
                    </div>
                         {% if request.user == review.user %}
                    <div class="review__item-buttons">
                        <a href="{% url 'courses:update-review' review.id %}" class="btn btn__review btn__accent">Edit Review</a>
                        <a href="{% url 'courses:delete-review' review.id %}" class="btn btn__review">Delete Review</a>

                    </div>
                     {% endif %}

                </div>

                {% endfor %}




            </div>
</section>






































{%  endblock %}