{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
 {% endif %}









     <!-- Introduction-->
    <section class="intro" id="home">
        <h1 class="section__title section__title--intro">
            Find A <strong> Dance Class </strong>
        </h1>
        <p class="section__subtitle section__subtitle--intro">Over {{ all_dance_courses }} Classes</p>
        <img src="{% static 'images/dance-manchester.jpg' %}" class="intro__img" alt="a picture of jane smiling">

    </section>






     <!-- Search -->
     <section class="my-search">

        <div class="box">
            <h2 class="section__title section__title--search">Search Dance Classes</h2>
            <form action="">
                <div class="form-row">
                    <div class="select-data">
                        <select name="" id="">
                            <option value="">Option One</option>
                            <option value="">Option Two</option>
                            <option value="">Option Three</option>
                            <option value="">Option Four</option>
                        </select>
                    </div>
                    <div class="select-data">
                        <select name="" id="">
                            <option value="">Option One</option>
                            <option value="">Option Two</option>
                            <option value="">Option Three</option>
                            <option value="">Option Four</option>
                        </select>
                    </div>
                    <div class="select-data">
                        <select name="" id="">
                            <option value="">Option One</option>
                            <option value="">Option Two</option>
                            <option value="">Option Three</option>
                            <option value="">Option Four</option>
                        </select>
                    </div>
                    <div class="select-data">
                        <select name="" id="">
                            <option value="">Option One</option>
                            <option value="">Option Two</option>
                            <option value="">Option Three</option>
                            <option value="">Option Four</option>
                        </select>
                    </div>
                </div>


                <div class="submit-button">
                    <input type="submit" value="search">
                </div>



            </form>
        </div>

    </section>




    <!-- End Search -->





    <section class="section__container">
        <h1 class="section__title section__title-results">Results for {{ style }} Dance <span>Classes</span> </h1>
        <div class="list__items">
            {% for course in courses %}

                 <!-- item1 -->
            <div class="item">
                <div class="item__left">
                    <div class="item__heading">
                        <h3 class="heading heading__item">{{ course.title |title}}</h3>
                        <div class="item__heading-btn">
                           <button class="btn__display">{{ course.age_group }}</button>
                        </div>
                    </div>
                    <div class="item__info">
{#                        <div class="item__col"><i class="fas fa-user"></i>{{ course.author.first_name | title }}</div>#}
                        <div class="item__col"><i class="fas fa-user"></i>{{ course.dance_style }}</div>
                        <div class="item__col"><i class="fas fa-user"></i>{{ course.course_level }}</div>
                        <div class="item__col"><i class="fas fa-money-bill"></i>£{{ course.price }}</div>
                        <div class="item__col"><i class="fas fa-layer-group"></i>{{ course.day }} {{ course.start_time }}</div>
                        <div class="item__col"><i class="fas fa-thumbtack"></i>{{ course.location |title }}</div>
                    </div>


                </div>
                <div class="item__right">

                    <a href="{% url 'courses:course-detail' course.pk course.slug %}" class="btn btn__view">View</a>


                </div>

            </div>

            {% endfor %}


        <div class="pagination">
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="pagination__btn prev "><i class="fas fa-angle-left"></i></a>
                    {% else %}
                        <a  class="pagination__btn prev disabled"><i class="fas fa-angle-left"></i></a>
                    {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <a  class="pagination__btn num active">{{ i }}</a>
                            {% else %}
                                <a href="?page={{ i }}"  class="pagination__btn num">{{ i }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="pagination__btn next "><i class="fas fa-angle-right"></i></a>
                        {% else %}
                            <a class="pagination__btn next disabled"><i class="fas fa-angle-right"></i></a>
                        {% endif %}
                    {% endif %}

            </div>





















        </div>

    </section>




    <!--end courses-->








    <section class="section__container">
        <h2 class="heading underline">Dance Classes Styles</h2>

        <div class="categories">




            <ul class="category__items category__items-courses">
                {% for style  in styles %}
                    {% if style.dance_style_count > 500 %}
                        <li class="category__shell"><a href="{% url 'courses:style-detail' style.pk style.slug %}" class="category__item">{{ style.name }} <span> ({{ style.dance_style_count }})</span> </a></li>
                    {% endif %}
                {% endfor %}

            </ul>

       </div>


    </section>

























    <div class="hero-wrap js-fullheight" style="background-image: url('{% static 'images/ballet_dance_jobs_bg_6.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-xl-10 ftco-animate mb-5 pb-5" data-scrollax=" properties: { translateY: '70%' }">
          	<p class="mb-4 mt-5 pt-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">We have <span class="number" data-number="{{ all_dance_courses }}">0</span> dance classes to choose from !</p>
            <h1 class="mb-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Find A <br><span>Dance Class</span></h1>

						<div class="ftco-search">
							<div class="row">
		            <div class="col-md-12 nav-link-wrap">
			            <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			              <a class="nav-link active mr-md-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Find a Dance Class</a>
			            </div>
			          </div>
			          <div class="col-md-12 tab-wrap">

			            <div class="tab-content p-4" id="v-pills-tabContent">

			              <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
                              <form action="{% url 'courses:search-course' %}" class="search-job" method="get" >
			              		<div class="row">
                                <div class="col-md">
			              				<div class="form-group">
			              					<div class="form-field">
				              					<div class="select-wrap">
						                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
						                      <select name="style" id="" class="form-control">
                                                  <option value="" selected="true">Style</option>
                                                  {% for style in styles %}
                                                      <option value="{{ style.id }}">{{ style.name }}</option>
                                                  {% endfor %}
						                      </select>
						                    </div>
								              </div>
							              </div>
			              			</div>
			              			<div class="col-md">
                                        <div class="form-group">
                                            <div class="form-field">
                                                <div class="select-wrap">
                                              <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                              <select name="age_group" id="" class="form-control">
                                                  <option selected="true" disabled="disabled">Age</option>
                                                  {% for key, value in age_choices %}
                                                    <option value="{{ key }}">{{ value }}</option>
                                                  {% endfor %}
                                              </select>
                                            </div>
                                              </div>
                                          </div>
			              			</div>

			              			<div class="col-md">
			              				<div class="form-group">
			              					<div class="form-field">
				              					<div class="select-wrap">
						                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
						                      <select name="course_level" id="" class="form-control">
                                                  <option value="" selected="true">Level</option>
                                                  {% for level in levels %}
                                                      <option value="{{ level.id }}">{{ level.title }}</option>
                                                  {% endfor %}
						                      </select>
						                    </div>
								              </div>
							              </div>
			              			</div>
                                    <div class="col-md">
                                        <div class="form-group">
                                            <div class="form-field">
                                                <div class="select-wrap">
                                              <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                              <select name="course_location" id="" class="form-control">
                                                  <option selected="true" disabled="disabled">Location</option>
                                                  {% for key, value in location_choices %}
                                                    <option value="{{ key }}">{{ value }}</option>
                                                  {% endfor %}
                                              </select>
                                            </div>
                                              </div>
                                          </div>
			              			</div>

			              			<div class="col-md">
			              				<div class="form-group">
			              					<div class="form-field">
								                <input type="submit" value="Search" class="form-control btn btn-primary">
								              </div>
							              </div>
			              			</div>
			              		</div>
			              	</form>

			              </div>

			            </div>
			          </div>
			        </div>
		        </div>
          </div>
        </div>
      </div>
    </div>





{% endblock %}