{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% load humanize %}

{% block content %}


       <!-- Introduction-->
    <section class="intro" id="home">
        <h1 class="section__title section__title--intro">
            Search <strong> Dance Jobs </strong>
        </h1>
        <p class="section__subtitle section__subtitle--intro">Over 13 Jobs</p>
        <img src="{% static 'images/dance-manchester.jpg' %}" class="intro__img" alt="a picture of jane smiling">

    </section>



    <section class="container-holder" id="create-container">


        <div class="form-container">
            <div class="form-title"> Add Dance Class </div>
            <form action="#" method="POST" enctype='multipart/form-data' >
                {% csrf_token %}



                <div class="form-details">


                     {% if form.errors %}
                     <div class="alert alert-danger alert-dismissible" role="alert">
                         <div id="form_errors">
                             {% for key,value in form.errors.items %}
                             <span class="fieldWrapper">
                                 {{ key }} : {{ value }}
                             </span>
                             {% endfor %}
                         </div>
                         <button type="button" class="close" data-dismiss="alert" aria-hidden="Close">
                             <span aria-hidden="true">&times</span>
                         </button>

                     </div>
                     {% endif %}



                    {{ form.as_p }}


                    <div class="form-button">
                        <input class="message-btn" type="submit" value="Add Dance Class">
                    </div>
                </div>
            </form>
        </div>





    </section>









{% endblock %}
