{% extends 'base.html' %}
{% load static %}
{% block content %}


     <section class="section__container">
        <h2 class="heading  underline"><span>Delete Dancers Profile</span></h2>

        <div class="inner__white-delete">
            <h2 class="heading heading__warning-danger ">Are you sure you want to delete your dancers profile ?</h2>


             <form action="" method="POST">
                  {% csrf_token %}
                  <a href="{% url 'users:profile' object.user.pk %}" class="btn btn-primary py-2 mr-1">No</a>
                  <button type="submit" class="btn btn-danger">Yes</button>
              </form>
        </div>

    </section>


{% endblock %}