{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}









{% include "partials/_alerts.html" %}







    <!-- Introduction-->
    <section class="course-intro" id="coursehome">




        <h1 class="section__title section__title--course">
            Edit Profile <span class="alt-strong" > {{ candidate.profile.location.title }} </span>
        </h1>
        <p class="section__subtitle section__subtitle--course-intro">{{ candidate.first_name }} {{ candidate.last_name }}</p>
        <img src="{{ candidate.profile.profile_image.url }}"  class="course-intro__img" alt="a picture of jane smiling">

    </section>








    <section class="section__container section__container-membership">
        <p class="section__title-membership">Your Membership Status</p>
        <button class="btn btn-membership">Get Membership</button>
    </section>







    <section class="section__container">
        <h2 class="heading underline">Your Stats</h2>

        <div class="categories">




            <ul class="category__items">
                <!--style item 1-->
                <li class="category__shell"><a href="" class="category__item">Jobs <span> ({{ listings.count }})</span> </a></li>
                <!--style item 2-->
               <li class="category__shell"><a href="" class="category__item">Dated Jobs <span> ({{ postings.count }})</span></a></li>
                <!--style item 3-->
                <li class="category__shell"><a href="" class="category__item">Venues <span> ({{ venues.count }})</span></a></li>
                <!--style item 3-->
                <li class="category__shell"><a href="" class="category__item">Classes <span> (21)</span></a></li>

            </ul>

       </div>


    </section>






    <section class="section__container create-profile">
        <h2 class="heading  underline">Create Company / Dancers Profile</h2>
        <div class="inner__grey">
            <a href="{% url 'users:create-dancers-profile' %}" class="btn btn__create" >Create Dancers Profile</a>
            <a href="{% url 'users:create-company-profile' %}" class="btn btn__create" >Create company Profile</a>


        </div>


    </section>





    <section class="section__container">
        <h2 class="heading underline">Your Profile</h2>
        <div class="inner__grey">
            <div class="left__column">
                <img src="{{ user.profile.profile_image.url }}" class="left__column-img" alt="a picture of jane smiling">
                <div class="update-btn__holder">
                    <button class="btn btn__update" data-modal-target="modal1">Update Profile</button>
                </div>
            </div>
            <div class="right-column">
                <ul class="list__dancersprofile">
                    <li>{{ user.first_name | title }} {{ user.last_name.title }}</li>
                    <li>{{ user.profile.date_of_birth }}</li>
                    <li class="xsmall">{{ user.email }}</li>
                    <li>{{ user.profile.mobile }}</li>
                    <li>{{ user.profile.location.title }}</li>
                    <li>{{ user.profile.membership_status}}</li>
                    <li>{{ user.profile.paid_until }}</li>
                </ul>
            </div>

        </div>
    </section>




    {% if candidate.dancers_profile %}

    <section class="section__container">
        <h2 class="heading underline"><span>Dancers Profile</span></h2>
        <div class="inner__grey">
            <div class="left__column left__column-dancersprofile">
                <img src="{{ candidate.dancers_profile.dancers_image.url }}" class="left__column-img" alt="a picture of jane smiling">
                <div class="update-btn__holder">
                    {% if candidate.dancers_profile %}
                        <button class="btn btn__update" data-modal-target="modal2">Update  Profile</button>
                        <a href="{% url 'users:delete-dancers-profile' candidate.dancers_profile.pk %}"  class="btn btn__update">Delete Profile</a>
                    {% else %}
                        <a href="{% url 'users:create-dancers-profile' %}" class="btn btn__update">Create Profile</a>
                    {% endif %}

{#                    <a href="{% url 'users:create-dancers-profile' %}" class="btn btn__update">Create Profile</a>#}

                </div>
            </div>
            <div class="right__column right__column-dancersprofile">
                <p class="heading">Your Attributes</p>
            <table class="attributes">
                <tbody>
                    <tr>
                        <td>Location:</td>
                        <td>{{ candidate.dancers_profile.location.title }}</td>
                    </tr>

                </tbody>

            </table>

            </div>

        </div>
        <div class="inner__white">
            <h2 class="heading underline">Dancers Profile Info</h2>
            <h4>Bio</h4>
            {{ candidate.dancers_profile.bio }}
            <h4>Experience</h4>
            {{ candidate.dancers_profile.experience }}
            <h4>Credits</h4>
            {{ candidate.dancers_profile.credits }}
        </div>
        <div class="profile__images">
            <div class="profile-space">
                <h2 class="section__title--profile underline">Johns Photos</h2>
            </div>


            <div class="portfolio">
            {% if images %}
                {% for image in images %}
                    <a href="#" class="portfolio__item">
                        <img src="{{ image.image.url }}" alt="" class="portfolio__img">
                    </a>
                {% endfor %}
            {% endif %}




            </div>
        </div>
    </section>

        {% else %}





         <section class="section__container section__container-membership">
        <p class="section__title-membership">Create Dancers Profile and let the world know what you can do</p>
             <a href="{% url 'users:create-dancers-profile' %}" class="btn create__btn-dancer" >Create Dancers Profile</a>
    </section>




    {% endif %}




    {% if candidate.company_profile %}


    <section class="section__container">
        <h2 class="heading underline">Company  Profile</h2>
        <div class="inner__grey">
            <div class="left__column">
                <img src="{{ candidate.company_profile.company_image.url }}" class="left__column-img" alt="a picture of jane smiling">
                <div class="update-btn__holder">
                    {% if candidate.company_profile %}
                    <button class="btn btn__update" data-modal-target="modal3">Update Profile</button>
                    <a href="{% url 'users:delete-company-profile' candidate.company_profile.pk %}" class="btn btn__update btn__update-companyy">Delete Company Profile</a>
                    {% else %}
                        <a href="{% url 'users:create-company-profile' %}">Create Company Profile</a>
                    {% endif %}

                </div>
            </div>
            <div class="right__column">
                <p class="heading">{{ candidate.company_profile.company_name }}</p>
                {% if  candidate.company_profile.is_active == True %}
                    <button>Company Profile Active</button>
                {% else %}
                    <button>Company Profile InActive</button>
                {% endif %}
                <p class="xsmall">{{ candidate.company_profile.company_email }}</p>
                <p>{{ user.company_profile.company_mobile }}</p>
                <p>{{ user.company_profile.company_bio }}</p>
            </div>

        </div>
    </section>

     {% else %}





         <section class="section__container section__container-membership">
        <p class="section__title-membership">Create Company  Profile and let the world know what you  do</p>
             <a href="{% url 'users:create-company-profile' %}" class="btn create__btn-dancer" >Create company Profile</a>
    </section>




    {% endif %}


<!--Your jobs-->

    <section class="section__container">
        <h2 class="heading underline">Your Dated Jobs</h2>
            <div class="list__items">
                <!-- item1 -->

            {% if postings %}

                {% for job in postings %}
                        <div class="item">
                        <div class="item__left">
                        <div class="item__heading">
                            <h3 class="heading heading__item">{{ job.title.title }}</h3>
                            <div class="item__heading-btn">
                               <button class="btn__display">£{{ job.fee }}</button>
                            </div>
                        </div>
                        <div class="item__info">
                            <div class="item__col"><i class="fas fa-user"></i>{{ job.author.first_name | title }}</div>
                            <div class="item__col"><i class="fas fa-calendar"></i>{{ job.date }}</div>
                            <div class="item__col"><i class="fas fa-money-bill"></i>£{{ job.fee }}</div>
                            <div class="item__col"><i class="fas fa-layer-group"></i>{{ job.category | title}}</div>
                            <div class="item__col"><i class="fas fa-thumbtack"></i>{{ job.location | title }}</div>
                        </div>


                    </div>
                    <div class="item__right item__profile">


                            <a href="{% url 'jobs:single-posting' job.slug job.pk %}" class="btn btn__view btn__sm" >View</a>
                            <a href="{% url 'jobs:update-posting' job.slug job.pk %}" class="btn btn__view btn__sm" >Update</a>
                            <a href="{% url 'jobs:delete-posting' job.slug job.pk %}" class="btn btn__view btn__sm" >Delete</a>



                    </div>

                </div>


                {% endfor %}
            {% else %}

                <p>You currently have no dated jobs</p>

            {% endif %}



            <h2 style="margin-top: 2rem" class="heading underline">Your Jobs</h2>


            {% if listings %}

             {% for job in listings %}
                        <div class="item">
                        <div class="item__left">
                        <div class="item__heading">
                            <h3 class="heading heading__item">{{ job.title.title }}</h3>
                            <div class="item__heading-btn">
                               <button class="btn__display">£{{ job.fee }}</button>
                            </div>
                        </div>
                        <div class="item__info">
                            <div class="item__col"><i class="fas fa-user"></i>{{ job.author.first_name | title }}</div>
                            <div class="item__col"><i class="fas fa-money-bill"></i>£{{ job.fee }}</div>
                            <div class="item__col"><i class="fas fa-layer-group"></i>{{ job.category | title}}</div>
                            <div class="item__col"><i class="fas fa-thumbtack"></i>{{ job.location | title }}</div>
                        </div>


                    </div>
                    <div class="item__right item__profile">


                            <a href="{% url 'jobs:single-listing' job.slug job.pk %}" class="btn btn__view btn__sm" >View</a>
                            <a href="{% url 'jobs:update-listing' job.slug job.pk %}" class="btn btn__view btn__sm" >Update</a>
                            <a href="{% url 'jobs:update-listing' job.slug job.pk %}" class="btn btn__view btn__sm" >Delete</a>



                    </div>

                </div>

                {% endfor %}
            {% else %}

                <p>You currently have no jobs listed</p>

            {% endif %}



            </div>
    </section>





    <!--Your Classes-->

    <section class="section__container">
        <h2 class="heading underline">Your Classes</h2>

    {% if courses %}
            <div class="list__items">
                {% for course in courses %}
                    <div class="item">
                    <div class="item__left">
                        <div class="item__heading">
                            <h3 class="heading heading__item">{{ course.title }}</h3>
                            <div class="item__heading-btn">
                               <button class="btn__display">£{{ course.price }}</button>
                            </div>
                        </div>
                        <div class="item__info">
                            <div class="item__col"><i class="fas fa-layer-group"></i>{{ course.dance_style }}</div>
                            <div class="item__col"><i class="fas fa-money-bill"></i>£{{ course.price }}</div>
                            <div class="item__col"><i class="fas fa-clock"></i>{{ course.day }} {{ course.start_time }}</div>
                            <div class="item__col"><i class="fas fa-thumbtack"></i>{{ course.location }}</div>
                        </div>


                    </div>
                    <div class="item__right">

                        <a href="{% url "courses:course-detail" course.pk course.slug %}" class="btn btn__view">View</a>
                        <a href="{% url "courses:update-course" course.pk course.slug %}" class="btn btn__view">Edit</a>
                        <a href="{% url "courses:delete-course" course.pk course.slug %}" class="btn btn__view">Delete</a>



                    </div>

                </div>


                {% endfor %}

            </div>

    {% else %}
        You currently have no classes listed
    {% endif %}
    </section>


    <!--Your Venues-->

    <section class="section__container">
        <h2 class="heading underline">Your Venues</h2>
            <div class="list__items">

            {% if venues %}

                {% for venue in venues %}
                     <div class="item">
                    <div class="item__left">
                        <div class="item__heading">
                            <h3 class="heading heading__item">{{ venue.name }}</h3>
                            <div class="item__heading-btn">
                               <button class="btn__display">£{{ venue.cost }}</button>
                            </div>
                        </div>
                        <div class="item__info">
                            <div class="item__col"><i class="fas fa-money-bill"></i>£{{ venue.cost }}</div>
                            <div class="item__col"><i class="fas fa-layer-group"></i>{{ venue.category | title }}</div>
                            <div class="item__col"><i class="fas fa-thumbtack"></i>{{ venue.location }}</div>
                        </div>


                    </div>
                    <div class="item__right">

                        <a  href="{% url 'venues:venue-detail' venue.pk  %}" class="btn btn__view">View</a>

                        <a  href="{% url 'venues:update-venue' venue.pk  %}" class="btn btn__view">Update</a>

                        <a href="{% url 'venues:delete-venue' venue.pk %}"  class="btn btn__view" >Delete</a>

                    </div>

                </div>

                {% endfor %}
            {% else %}

                You have no venues 

            {% endif %}

            </div>
    </section>











































<div class="modal" id="modal1"> <!-- This is the background overlay -->
    <div class="modal-content"> <!-- This is the actual modal/popup box -->
      <span class="modal-close">&times;</span>
      <h1>Update  Profile</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ users_form  }}
            <div class="modal-footer margin__2rem">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
                <button name="cope" type="submit" class="btn btn-sm btn-outline-primary">Save</button>
            </div>
        </form>
    </div>
  </div>




    <div class="modal" id="modal2"> <!-- This is the background overlay -->
    <div class="modal-content"> <!-- This is the actual modal/popup box -->
      <span class="modal-close">&times;</span>
      <h1>Update Dancers Profile</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p  }}
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-secondary modal-cancel" data-dismiss="modal">Close</button>
                <button name="dancerscope" type="submit" class="btn btn-sm btn-outline-primary">Save</button>
            </div>
        </form>
    </div>
  </div>


    <div class="modal" id="modal3"> <!-- This is the background overlay -->
    <div class="modal-content"> <!-- This is the actual modal/popup box -->
      <span class="modal-close">&times;</span>
      <h1>Update Company Profile poop</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ company_form.as_p  }}
            <div class="modal-footer">
                <button  name="companycope" type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
                <button name="companycope" type="submit" class="btn btn-sm btn-outline-primary">Save</button>

            </div>
        </form>
    </div>
  </div>






    <!-- Modal Delete DancerPhoto-->
    <div class="modal fade" id="deletePhotoModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Photo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for image in images %}
                        <div class="row">
                            <div class="col-6 mb-2">
                                <img src="{{ image.image.url }}" style="height: 100px; width: 100px" alt="">
                            </div>
                            <div class="col-6 mb-2">
                                <a href="{% url 'users:delete-dancers-photo' image.pk %}"
                                   class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>






    <div id="overlay"></div>

{% endblock %}

