{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}




     <section class="section__container">
        <h1 class="section__title section__title--courses">Send <span>Message</span>    </h1>

        {% if request.user.is_authenticated %}

			     <form action="#" method="POST" class="p-5 bg-white">
                 <h2>Write Message ...</h2>
                 <h4>To: {{ talent.user.first_name }}</h4>
                 {% csrf_token %}

                 {% if form.errors %}
                     <div class="alert alert-danger alert-dismissible" role="alert">
                         <div id="form_errors">
                             {% for key,value in form.errors.items %}
                             <span class="fieldWrapper">
                                 {{ key }} : {{ value }}
                             </span>
                             {% endfor %}
                         </div>
                         <button type="button" class="close" data-dismiss="alert" aria-hidden="Close">
                             <span aria-hidden="true">&times</span>
                         </button>

                     </div>
                     {% endif %}

                          {{ form  }}


                 <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn btn-primary">
                </div>
              </div>




            </form>

          {% else %}

              <h3 class="text-center text-dark">You need to be send a  message ps login or register a new account !!</h3>

          {% endif %}






    </section>




{% endblock %}

