{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
 {% endif %}




     <section class="section__container">



        <div class="inbox-holder">
            <div class="left-inbox">
                <ul>
                    <li>inbox</li>
                    <li>sent</li>

                    test
                </ul>

            </div>
            <div class="right-inbox">

            </div>
        </div>



    </section>






    <section class="section__container">
        <h1 class="section__title section__title--courses">In<span>Box</span> </h1>





        <div class="list__items">

            {% for conversation in conversations %}
            <!-- item1 -->
            <div class="item">
                <div class="item__left">
                    <div class="item__heading">
                        <h3 class="heading heading__item">{{ conversation.title}}</h3>
                        <div class="item__heading-btn">
                           <button class="btn__display btn__display-circle"><i class="fas fa-envelope-open"></i></button>
                        </div>
                    </div>
                    <div class="item__info">
                        <div class="item__col"><i class="fas fa-user"></i>
                            {% if request.user == conversation.messenger_1 %}
                                {{ conversation.communications_message_2.sender.first_name | capfirst }}
                            {% else %}
                                {{ conversation.communications_message_1.sender.first_name | capfirst }}
                            {% endif %}</div>
                        <div class="item__col"><i class="fa fa-calendar"></i> 6th of July 2021</div>
                    </div>


                </div>
                <div class="item__right">

                    <a href="{% url 'mail:communication' conversation.pk %}"><button class="btn btn__view">View</button></a>



                </div>

            </div>

            {% endfor %}


            <!-- item2 -->
            <div class="item">
                <div class="item__left">
                    <div class="item__heading">
                        <h3 class="heading heading__item">Ballet Dance Class in Manchester</h3>
                        <div class="item__heading-btn">
                           <button class="btn__display">£50</button>
                        </div>
                    </div>
                    <div class="item__info">
                        <div class="item__col"><i class="fas fa-user"></i>Barry</div>
                        <div class="item__col"><i class="fas fa-money-bill"></i>£50</div>
                        <div class="item__col"><i class="fas fa-layer-group"></i>Dance Teaching Job</div>
                        <div class="item__col"><i class="fas fa-thumbtack"></i>Manchester</div>
                    </div>


                </div>
                <div class="item__right">

                    <button class="btn btn__view">View</button>

                </div>

            </div>

            <div class="pagination">
                <a href="#" class="prev"><i class="fas fa-angle-left"></i></a>
                <a href="#" class="num active">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="num">4</a>
                <a href="#" class="next"><i class="fas fa-angle-right"></i></a>
            </div>
        </div>

    </section>




    <!--end courses-->




{% endblock %}