{% extends 'base.html' %}
{% load static %}




{% block content %}


    <div class="hero-wrap js-fullheight" style="background-image: url('{% static 'images/ballet_bg_4.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-xl-10 ftco-animate mb-5 pb-5" data-scrollax=" properties: { translateY: '70%' }">
              {% include 'partials/_alerts.html' %}
            <h1 class="mb-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Sent <br><span>Messages</span></h1>


          </div>
        </div>
      </div>
    </div>




		<section class="ftco-section bg-light">
			<div class="container">

				<div class="mb-4">
                    <nav class="navbar navbar-expand navbar-light bg-white border-bottom border-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link ml-3 mr-2" href="{% url 'mail:inbox' %}">Inbox <i class="fa fa-inbox text-info"> ({{ unread_messages}}) </i> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Sent <i class="fas fa-paper-plane"></i></a>
      </li>
    </ul>
  </div>
</nav>

        </div>





              <div class="row">
                    {% for conversation in conversations %}
                        <div class="col-md-12 ftco-animate">
						<div class="job-post-item bg-white p-3 d-block d-md-flex align-items-center">
                        <div class="mr-4 d-flex">
                              {% if request.user == conversation.messenger_1 %}
                                   <img src="{{ conversation.messenger_2.profile.profile_image.url }}" style="height: 40px; width: 40px " alt="" class="rounded-circle mr-2" />
                               {% else %}
                                   <img src="{{ conversation.messenger_1.profile.profile_image.url }}" style="height: 40px; width: 40px " alt="" class="rounded-circle mr-2" />
                               {% endif %}

              </div>

						  <div class="mb-4 mb-md-0 mr-5">
						   <div class="job-post-item-header d-flex align-items-center">
						     <h2 class="mr-3 text-black h5">
                                 {% if request.user == conversation.messenger_1 %}
                               {{ conversation.communications_message_1.content }}
                               {% else %}
                               {{ conversation.communications_message_2.content }}
                               {% endif %}
                             </h2>
{#						     <div class="badge-wrap">#}
{#                                 {% if course.age_group == 'toddlers' %}#}
{#                                     <span class="bg-warning text-white badge py-2 px-3">Toddlers</span>#}
{#                                 {% elif course.age_group == 'children' %}#}
{#                                     <span class="bg-primary text-white badge py-2 px-3">Children</span>#}
{#                                 {% elif course.age_group == 'teens' %}#}
{#                                     <span class="bg-secondary text-white badge py-2 px-3">Teen</span>#}
{#                                 {% elif course.age_group == 'adults' %}#}
{#                                     <span class="bg-danger text-white badge py-2 px-3">Adults</span>#}
{#                                 {% endif %}#}
{#						     </div>#}
						   </div>
						   <div class="job-post-item-body d-block d-md-flex">
						     <div class="mr-3"><span class="icon-layers" ></span>
                                 <a style="font-size: 13px" href="#">
                                     {% if request.user == conversation.messenger_1 %}
                                         {{ conversation.messenger_2.first_name | capfirst}}
                                     {% else %}
                                         {{ conversation.messenger_1.first_name | capfirst}}
                                     {% endif %}
                                 </a></div>
						     <div><i class="fas fa-calendar-alt mr-1"></i><span style="font-size: 14px">
                                 {% if request.user == conversation.messenger_1 %}
                                     {{ conversation.communications_message_1.timestamp | date:'D d M Y' }}
                                 {% else %}
                                     {{ conversation.communications_message_2.timestamp | date:'D d M Y' }}
                                 {% endif %}
                             </span></div>
						   </div>
						  </div>

                            <div class="ml-auto d-flex">
                                <a href="{% url 'mail:communication' conversation.pk %}" class="btn btn-primary btn-sm py-1 px-3 mx-1">View</a>
                                {% if communication.read_at == None %}
                                    <i class=" mt-2 fa fa-envelope " style="color:grey;"></i>
                                {% else %}
                                    <i class="fa fa-envelope-open" ></i>
                                {% endif %}
                             <a href="{% url 'mail:delete-conversation' conversation.pk %}"><i class="fa fa-trash ml-2" style="color:red;" ></i></a>
                            </div>

						</div>
          </div> <!-- end -->
                    {% endfor %}
                </div>




                <div class="row mt-5">
                    {% if is_paginated %}
          <div class="col text-center">
            <div class="block-27">
              <ul>
                  {% if page_obj.has_previous %}
                      <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                  {% else %}
                      <li class="disabled"><span>&lt;</span></li>
                  {% endif %}
              {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
              <li class="active"><span>{{ i }}</span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                      <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                  {% else %}
                      <li class="disabled"><span>&gt;</span></li>
                  {% endif %}

              </ul>
            </div>
          </div>
                {% endif %}
        </div>
			</div>
		</section>




{% endblock %}